#Overview 
{width: 1000px;
    position: absolute;
    right: 450PX;
 }

.Button{
    display: block;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 50%;
    color: blue;
    background-color: no-repeat;
    background-size: cover;
}
 
 .Thick {
    background-image: url(../img/mcdonalds-Fries-Small_product-header-mobile.jpg);
 
 }


 .bg {
    background: rgb(255,238,0);
background: radial-gradient(circle, rgba(255,238,0,1) 0%, rgba(255,138,25,1) 50%, rgba(255,7,0,1) 100%);
 }

 h1 
{
text-align: center;
 }